i {
  font-size: 30px;
}
.fa-facebook {
  color: #3b5998;
}

.fa-youtube {
  color: #ff0000;
}

.fa-instagram {
  color: #833ab4;
}

.fa-github {
  color: #4078c0;
}

.fa-coins {
  color: #ff7b00;
}
