.contenedor {
  background-color: black;
}

/* Aplicaremos degradados a las cajas */
/* Generamos un degradado de abajo hacia arriba */
.degradado1 {
  width: 500px;
  height: 250px;
  background: repeating-linear-gradient(to bottom, red, yellow);
}

/* Generamos degrdado de izquierda a derecha */
.degradado2 {
  width: 500px;
  height: 250px;
  background: repeating-linear-gradient(to left, green, yellow);
}

/* Generamps un de gradado de izquierda a derecha */
.degradado3 {
  width: 500px;
  height: 250px;
  background: repeating-linear-gradient(to right, blue, yellow);
}

/* Generamps un de gradado de arriba a abajo */
.degradado4 {
  width: 500px;
  height: 250px;
  background: repeating-linear-gradient(to top, red, white);
}

/* Generamos un degradado de varios colores de izquierad a derecha */
.degradado5 {
  width: 500px;
  height: 250px;
  background: repeating-linear-gradient(
    to left,
    green,
    yellow,
    red,
    blue,
    white,
    orange
  );
}

/* APLICAREMOS UN DEGRADADO DE VARIOS COLORES */
.degradado6 {
  width: 500px;
  height: 250px;
  background: repeating-radial-gradient(
    green,
    yellow,
    red,
    blue,
    white,
    orange
  );
}

/* Aplicamos los degradados utilizando angulos */
/* Generamos un degradado de abajo hacia arriba */
.degradado7 {
  width: 500px;
  height: 250px;
  background: repeating-linear-gradient(180deg, red, yellow);
}

/* Generamos degrdado de izquierda a derecha */
.degradado8 {
  width: 500px;
  height: 250px;
  background: repeating-linear-gradient(-90deg, green, yellow);
}

/* Generamps un de gradado de izquierda a derecha */
.degradado9 {
  width: 500px;
  height: 250px;
  background: repeating-linear-gradient(90deg, blue, yellow);
}

/* Generamps un de gradado de arriba a abajo */
.degradado10 {
  width: 500px;
  height: 250px;
  background: repeating-linear-gradient(0deg, red, white);
}

/* Generamps un de gradado hacia un angulo especifico */
.degradado11 {
  width: 500px;
  height: 250px;
  background: repeating-linear-gradient(70deg, red, white);
}
